/* css reset*/
*{
    margin:0;
    padding:0;
}
/* Navigation bar*/
#navbar{
    display: flex;
    align-items: center;
}
/* Navigation bar:logo and image*/
#logo{
    margin: 34px 57px;
}
#logo img{
    margin: 14px  7px;
    width: 100px;
    
}
/* Navigation bar:list styling*/
#navbar{
    position: relative ;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height :100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5    ;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3 rem;}
    #navbar ul li a{
        color: antiquewhite;
       display: block;
       padding: 5px 30px;
       border-radius: 20px;
       text-decoration: none;

    
    }
    #navbar ul li a:hover{
        color:black;
      background-color: aliceblue;

    
    }
    /*HOME SECTION*/
    #home{
        display: flex;
        flex-direction: column;
        padding: 4px 200px;
        justify-content: center;
        align-items: centers;
    }
    #home{
        color:gray;
    }
    body{
        background-image: url(./images/1.avif) ;
        background-repeat:no-repeat ;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    #home h1{
        text-align: center ;
       font-family: cursive  ;
    }
    /*services section*/
    #services{
        margin: 34px;
        display: flex;
    }
    #services .box{
        border: 4px solid white;
        padding: 34px;
        margin: 3px 6px;
        border-radius: 100px;
        background: white;
    }
    #services .box img{
        height: 300px;
        margin: auto;
        display: block;
        border: 2.5px;
        align-items: center;
    }
    #services .box p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* client section*/
    #clients{
        display:    flex;
        justify-content: center;
        align-items: center;
    }
    #client-section{ 
        position: relative;

    }
    #clients img{
        height:140px;
        padding:3px 5px;
        border: 3px solid white;
    }
    #client-section::before{
        content:"";
        position: absolute;
        background: url('./images/123.avif');
        width:100%;
        height: 100%;
        z-index: -1;

    }



    /* utility  classes*/
    .h-primary{
        font-size: 2.8rem;
        padding: 12px;

    }
    .h-secondary{
        font-size: 3.8rem;
        padding: 12px;
    }
    .btn{
        padding: 6px 20px;
        border: 2px solid white;
        background-color: crimson;
        color: beige;
        margin: 17px;
        font-size: 1.7rem;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        
    }
    .center{
        text-align: center;
        color: gray;
    }
    /* contact section*/
    #contact{
   position: relative;
    }
    #contact::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.9;
        background: url(./images/);

    }
    footer{
        background: black;
        color: aliceblue;
    }
    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding bottom: 14px ;
    }
    #contact-box input,
    #contact-box textarea{
        width: 100%;
        padding: 0.5 rem;
    }